# Case Study

In [1]:
import pandas as pd
import numpy as np

In [4]:
#Get raw Data
df = pd.read_csv("data/house_data_training.csv", sep=';') 
df = df.iloc[:, 1:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15000 non-null  int64
 1   date           15000 non-null  object
 2   price          15000 non-null  float64
 3   bedrooms       15000 non-null  int64
 4   bathrooms      15000 non-null  float64
 5   sqft_living    15000 non-null  int64
 6   sqft_lot       15000 non-null  int64
 7   floors         15000 non-null  float64
 8   waterfront     14997 non-null  float64
 9   dis_super      14997 non-null  float64
 10  view           14997 non-null  float64
 11  condition      14997 non-null  float64
 12  grade          14997 non-null  float64
 13  sqft_above     14997 non-null  float64
 14  sqft_basement  14997 non-null  float64
 15  yr_built       14997 non-null  float64
 16  yr_renovated   15000 non-null  int64
 17  zipcode        15000 non-null  int64
 18  lat            15000 non-null  float64
 19  long           15000 non-null  float64
 20  sqft_living15  15000 non-null  int64
 21  sqft_lot15     15000 non-null  int64
 22  ahf1           15000 non-null  float64
 23  ahf2           15000 non-null  float64
 24  ahf3           15000 non-null  float64
dtypes: float64(16), int64(8), object(1)
memory usage: 2.9+ MB

## Task 2 Modeling

### A) Basic Regression Model

### B) Data Preprocessing

#### data quality issues

##### Outliers

##### Noise

##### Transformed, standardized or normalized

In [12]:
#Transform Data 

#Example --> string to datetime
df["date"] = pd.to_datetime(df["date"])
print(df["grade"])
df.tail()

0         8.0
1        10.0
2         7.0
3         8.0
4         8.0
         ...
14995     7.0
14996     9.0
14997     8.0
14998     8.0
14999     8.0
Name: grade, Length: 15000, dtype: float64

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,dis_super,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,ahf1,ahf2,ahf3
14995,5700000905,2014-08-16,739000.0,5,2.5,2840,5000,1.0,0.0,694.64,...,1913.0,0,98144,47.5817,-122.291,2200,5000,24.130536,112.985690,137.116226
14996,2623069106,2015-02-19,710000.0,6,3.5,3830,68825,2.0,0.0,1156.61,...,1995.0,0,98027,47.4574,-122.003,2410,68825,83.830652,90.383630,174.214282
14997,1530900290,2014-10-07,475000.0,3,2.5,2280,3710,1.0,0.0,1352.78,...,1990.0,0,98072,47.7350,-122.159,2030,3710,13.268193,117.766765,131.034957
14998,4310701600,2014-11-13,340000.0,3,2.5,1240,1115,3.0,0.0,1245.41,...,2003.0,0,98103,47.6985,-122.340,1410,1355,48.352194,102.297062,150.649256
14999,8079010230,2014-06-03,475000.0,3,2.5,2600,7210,2.0,0.0,874.81,...,1989.0,0,98059,47.5123,-122.151,2350,7225,12.626021,95.332639,107.958660

#### data reduction issues

##### Feature Selection

##### Instance Selection

## Task 2 Modeling Continued

## Task 2: Evaluation